{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Chai's Django Project</title>
    <link rel="stylesheet" href="{% static 'testApp/css/home/styles.css' %}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1>Welcome to Chai's Django Project</h1>
    <h2>This is Home page</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat optio saepe est. Sed iste voluptatem pariatur cupiditate maxime voluptatum exercitationem qui asperiores vel aliquid, alias ab commodi mollitia voluptate? Labore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, expedita ab! Adipisci pariatur sapiente expedita, minus quo culpa perspiciatis ratione consectetur explicabo in nulla sint veniam consequuntur, deserunt voluptatem? Necessitatibus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias suscipit commodi adipisci tempora dolores iure harum explicabo mollitia ea sunt incidunt cupiditate ipsum totam corrupti sed quam, recusandae architecto reiciendis!
    </p>
</body>
</html>